body {
    background: #555;
    color: #fff;
    margin: 50px auto;
    display: flex;
    justify-content: center;
    width: 200px;
    
}

.state {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.state-title {
    text-align: center;
}
.state-value {
    display: flex;
    margin: 0;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    color: #555;
    background: #fff;
}