body {
    background: #222;
    color: #fff;
    margin: 50px auto;
    display: flex;
    justify-content: center;
    width: 200px;
    
}

.state {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.state-title {
    text-align: center;
}
.state-value {
    display: flex;
    margin: 0;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    color: #555;
    background: #fff;
}

.counter {
    display: flex;
    position: relative;

}
.counter-minus, .counter-plus {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    color: #fff;
    background: #555;
    font-size: 1rem;
}

.counter-plus {
    right: -20px;
    bottom: -5px;
}

.counter-minus {
    left: -20px;
    bottom: -5px;
}

.counter-minus:hover, .counter-plus:hover {
    background: #000;
    transition: background ease 1s;
}
.counter-count {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: none;
    background: #fff;
    color: #555;
    width: 50px;
    height:50px;
    padding: 20px;
    
}