body{
    background: #57be57;
}

.Container {
     margin:  40px auto;
     width: 400px;

}

.exe-image {
    display: block;
    width:400px; 
    height: 200px;
    object-fit: cover;
    border-radius: 15px;
}

/*   */

.exe-button {
    display: block;
    width: 400px;
    height: 50px;
    margin: 20px auto;
    border-radius: 15px;
    border: 1px solid #ddd;
    background: #fff;
}

div {
    margin: 40px auto;
    width: 300px;
    color: #fff;
}
button {
    padding: 15px 100px;
    white-space: nowrap;
    border-radius: 50px;
    background: #57be57;
    color: #fff;
    border: 1px solid #fff;
}
button:hover {
    background: #fff;
    color: #57be57;
    
}